* {padding: 0; margin: 0;}
html {font-size: 20px; scroll-behavior: smooth; background: #eee;}
body {font-size: 1rem; color: #222; font-family: 'Montserrat'; line-height: 1.4;}
/* #innerbody {max-width: 175rem; margin: 0 auto; background: #27352a; position: relative;}
.container {max-width: 75rem; margin: 0 auto; padding: 0 2rem;} */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Light'),
         url('/fonts/Montserrat-Light.woff2') format('woff2');
}

section{display:flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;}
img {max-width: 50rem; margin: 0rem 3rem -3rem 3rem;}
a {margin-top: 5rem; margin-left: 10rem; text-decoration: none; color: green; border: 1px solid green; padding: 1rem; border-radius: 2rem;}
a:hover {color: #222; border: 1px solid #222;}
span {transform:scaleX(1.75); display: inline-block; margin-left: 1rem;}
h1 {margin-top: 1rem; margin-left: 2rem;}

@media only screen and (max-width: 850px) {
    section {justify-content: flex-start;}
    img{ margin-top: 10%;}
    h1 {font-size: 3.0vw;}
    a{ font-size: 0.7rem; margin-left: 0;}
}