<div id="menu">
    <input type="checkbox">
    <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div>
        <a href="/" id="logo" class="fullscreen">
            <img src="/img/logo.svg" alt="Het logo van JufDet">
        </a>
        <nav>
        <img src="/img/menu.svg" alt="Menu">
            <ul>
                {% if page.title == "Home" %} {% else %}
                    <li class="hidemobile"><a href="/">home</a></li>
                    <div class="divider"></div>
                {% endif %}
                {% for item in site.data.navigation.mainmenu %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    <div class="divider"></div>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>