{% include header.html %}

<div class="section fullscreen">
    <div>
        <h1>{{ page.introduction }}</h1>
    </div>
    <a onclick="scrollDown()"><span></span><span></span></a>
</div>

<div class="section image left">
    <div>
        <h2>{{ page.over_det.title }}</h2>
        <img src="{{page.over_det.image}}" alt="foto van Det">
        <p>{{ page.over_det.text }}</p>
    </div>
</div>

<div class="divider"></div>

<div class="section image right carrousel">
    <div>
        <h2>{{ page.lokaal.title }}</h2>
        {% include carrousel.html height="60" unit="%" duration="7" %}
        <p>{{ page.lokaal.text }}</p>
    </div>
</div>

<div class="divider"></div>

<div class="section image left">
    <div>
        <h2>{{ page.werkwijze.title }}</h2>
        <img src="{{ page.werkwijze.image }}" alt="foto van Det">
        <p>{{ page.werkwijze.text }}</p>
        <a class="button" href="">&euro; Bekijk prijzen</a>
    </div>
</div>

<div class="divider"></div>

<div class="section image left contact">
    <div>
        <h2>Contact</h2>
        <p>{{ page.contact_text }}</p>
        <div>
            <a href="mailto:det@jufdet.nl"><img src="/img/mail.svg" alt="mail icon"></a>
            <a href="tel:+31645932547"><img src="/img/phone.svg" alt="phone icon"></a>
        </div>
    </div>
</div>

<div class="section image right map">
    <div>
        <h2>De Josefschool</h2>
        <a href="https://maps.google.nl" style="background: url(/img/map.svg) center center / cover">
            <img src="/img/pin.svg" alt="green pin icon">
        </a>
    </div>
</div>


{% include footer.html %}